<section class="new-training" fxLayout fxLayoutAlign="center">
  <form #f="ngForm" (ngSubmit)="onStartTraining(f)">
    <mat-card fxFlex="400px" fxFlex.xs="100%">
      <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | ngrxPush) && exercises$" style="width: 90%;">
          <mat-select name="exercise"
                      ngModel
                      placeholder="Favorite torturing mechanism"
                      required>
            <mat-option *ngFor="let exercise of (exercises$ | ngrxPush)" [value]="exercise.id">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | ngrxPush"></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!(isLoading$ | ngrxPush)" fxLayoutAlign="center">
        <button
          *ngIf="exercises$ | ngrxPush"
          [disabled]="f.invalid"
          mat-button
          style="width: 90%;"
          type="submit"
        >Start
        </button>
        <button
          *ngIf="!(exercises$ | ngrxPush)"
          (click)="fetchExercises()"
          mat-button
          style="width: 90%;"
          type="button"
        >Fetch again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
